* { margin: 0; padding: 0; user-select: none;}

html::-webkit-scrollbar
{
    scrollbar-color: black white;
}

body
{
    background-color: rgb(173, 216, 253);
}

.banner
{
    background-color: black;
    height: 95.9dvh;
    border-bottom: 0.1dvh solid gray;

    display: grid;
    color: white;
}

.banner .title span
{
    background: linear-gradient(to right, #3494e6, #ec6ead, #3494e6, #ec6ead);
    animation: name 3s linear infinite;
}

.nav
{
    background-color: black;
    height: 4dvh;

    position: sticky;
    top: 0;
    transition: all 0.5s ease;

    display: grid;
}

.grey
{
    background-color: rgba(0, 0, 0, 0.2);
}

.menu
{
    position: fixed; top: 0; left: 0; z-index: 1;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(15px);
    display: none;
}


@media (max-width: 400px) 
{

    body
    {
        height: 196dvh;
    }

    .banner
    {
        grid-template-rows: 1fr 1fr;
        font-size: xxx-large;
    }
    .banner .title
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner .title span
    {
        background-size: 270%; background-position: right;
        background-clip: text; color: transparent;
        transition: all 0.5s ease;
    }
    .banner .logo
    {
        display: flex;
        justify-content: center;
        font-size: 20dvh; font-weight: 100;
    }
    .banner .logo span
    {
        background-image: linear-gradient(to right, #fdfc47, #24fe41);
        background-clip: text;
        color: transparent;
    }

    .nav
    {
        grid-template-columns: 1fr 1fr;
        color: white;
        text-align: center;
    }
    .nav .left { padding: 0.5dvh; }
    .nav .left:hover { background-color: rgba(128, 128, 128, 0.3); }
    .nav .left:active { background-color: rgba(128, 128, 128, 0.5);}
    .nav .right { padding: 0.5dvh; }
    .nav .right:hover { background-color: rgba(128, 128, 128, 0.3); }
    .nav .right:active { background-color: rgba(128, 128, 128, 0.5);}
    .nav .center { display: none; }

    .menu { grid-template-rows: 20% 80%; }
    .menu .title
    {
        font-size: xx-large; color: white;
        display: flex; justify-content: center; align-items: center;
    }
    .menu .links
    {
        font-size: larger; color: white;
        display: grid; grid-template-rows: 8% 8% 8% 8% 8% 8%;
        text-align: center;
    }
    .menu .links .link { display: flex; justify-content: center; align-items: center; }
    .menu .links .link:hover { background-color: rgba(128, 128, 128, 0.151); }
    .menu .links .link:active { background-color: rgba(128, 128, 128, 0.253); }     

    .body
    {
        overflow-y: scroll;
        height: 96dvh;
    }
    .body::-webkit-scrollbar {
        display: none;
    }
    .body .content
    {
        height: 100%;
        background-color: rgba(128, 128, 128, 0.151);
        scroll-snap-type: y mandatory;
    }
    .body .content .home
    {
        padding: 3vh;
        height: 90vh;
        background-color: rgb(58, 58, 58); color: white;
    }
}

.roboto
{
    font-family: "roboto";
}

@keyframes name {
    0%
    {
        background-position: right;
    }
    100%
    {
        background-position: left;
    }
}